crawlers:
  linkedin:
    pages:
      - https://www.linkedin.com/jobs/search/?f_E=4%2C5&f_JT=F&f_TPR=r86400&geoId=103644278&keywords=solution%20architect%20node.js&location=United%20States
      - https://www.linkedin.com/jobs/search/?f_E=4%2C5&f_JT=F&f_TPR=r86400&geoId=103644278&keywords=node.js&location=United%20States
    credentials:
      username: foo@bar.baz
      password: foobarbaz
  monster:
    pages:
      - https://www.monster.com/jobs/search/Full-Time_8?q=qa-analyst&where=07302&rad=20&tm=3&jobid=220754835
    filters:
      radius: 40 # supported values: (empty), 5, 10, 20, 30, 40, 50, 60, 75, 100, 150, 200
      job_status: Full-Time # supported values: (empty), Part-Time
      posted: 1 # supported values: (empty), -1 (any date), 0 (today), 1 (yesterday), 3 (last 3 days), 7 (last 7 days), 14 (last 14 days), 30 (last 30 days)
    credentials:
      username: foo@bar.baz
      password: foobarbaz
  glassdoor:
    pages:
      - https://www.glassdoor.com/Job/jersey-city-qa-analyst-jobs-SRCH_IL.0,11_IC1126819_KO12,22.htm?jobType=fulltime&fromAge=1&radius=50
    credentials:
      username: foo@bar.baz
      password: foobarbaz
  indeed:
    pages:
      - https://www.indeed.com/jobs?q=QA%20Analyst&l=Jersey%20City%2C%20NJ&radius=50&rbl=New%20York%2C%20NY&jlid=45f6c4ded55c00bf&jt=fulltime&vjk=a573133dd9847a53
    credentials:
      username: foo@bar.baz
      password: foobarbaz
